radius()
  border-radius 2px
  / .is-primary &
  	border-radius 12px
  	
shadow()
  box-shadow 0 2px 5px rgba(#000,0.3)
  / .is-primary &
  	box-shadow 0 4px 10px rgba(#000,0.3)

circle(n)
  border-radius 50%
  width n
  height n
  
bodyText()
  line-height 1.4