html
  font-size 62.5%

body
  background cBackground
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Open Sans', sans-serif
  font-size 2rem
  color textcolor

headingChunk()
  padding 0.4rem
  font-weight 600
  font-size 0.8em