.op2-chatLatest
  radius()
  shadow()
  background #fff
  margin-bottom 1rem
  &-header
  	display flex
  	align-items center
  	border-bottom 1px solid color-line
  &-heading
    headingChunk()
  &-label
    background #ddd
    font-size 1.2rem
    padding 0.2rem 0.4rem
  &-a
    display block
    &-active
      transform translate(10px)    
