.op2-header
  background #000
  color white
  display flex
  align-items center
  &-heading
    text-align center
    padding 8px 0.4rem
    flex 1 1 auto
    font-weight 600
  .avatar-container
    flex 0 0 auto
    margin 0.4rem
    width 4rem
    height @width
