.op2-chatMessage
  display flex
  flex 1 1 100%
  padding 0.4rem 0
   
  &-meta
    display flex
    font-size 1.2rem
    justify-content space-between
    font-weight 600
    padding-bottom 0.2rem
  &-time
    color textcolorSoft

  &-content
    flex 1 1 auto
    padding 0.4rem
  
  &-text
    margin-top 0.4rem
    
    &-excerpt
      bodyText()
      
  .avatar-container
    display flex
    flex-direction column
    width 5rem
    margin 0.4rem
    flex 0 0 auto