// Import all partials
@require './_*.styl'
@require './c_*.styl'

//scaffolding rules

// entire screen content sits inside this:
.view-container
  display block
  
// everything but header sits in this:  
.content-container
  display flex

//generic components
.unreadCounter
  background-color red
  color white
  font-weight bold
  display inline-block
  min-width 2rem
  padding 0.2rem 0.4rem
  border-radius @min-width*0.5
  height @min-width
  font-size @min-width - @padding*3
  line-height @min-width - @padding*2
  text-align center
  
.avatar
  &-container
  	circle(5rem)
  	display block
  	overflow hidden
  &-img
  	display block
  	max-width 100%
   
.user-chip
  radius()
  margin 2px
  background-color #ddd
  display inline-block
  align-items center
  vertical-align middle
  padding 2px 4px
  font-size 1.6rem
  font-weight 600
  
  .avatar-container
    circle(1.4em)
    margin 0
    margin-right 4px
    display inline-block
    vertical-align middle
    


//MOVE
.c-invite-included-true
  color red