html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: rgba(0,0,0,0.85);
}
.chat-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.op2-chatLatest {
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  background: #fff;
  margin-bottom: 1rem;
}
.is-primary .op2-chatLatest {
  border-radius: 12px;
}
.is-primary .op2-chatLatest {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.op2-chatLatest-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #aaa;
}
.op2-chatLatest-heading {
  padding: 0.4rem;
  font-weight: 600;
  font-size: 0.8em;
}
.op2-chatLatest-label {
  background: #ddd;
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
}
.op2-chatLatest-a {
  display: block;
}
.op2-chatLatest-a-active {
  -webkit-transform: translate(10px);
          transform: translate(10px);
}
.op2-chatView {
  margin-left: 3rem;
  background: #fff;
}
.op2-chatView-heading {
  padding: 0.4rem;
  font-weight: 600;
  font-size: 0.8em;
  border-bottom: 1px solid #aaa;
}
.op2-chatView-message {
  border-bottom: 1px solid #aaa;
}
.op2-header {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.op2-header-heading {
  text-align: center;
  padding: 8px 0.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
}
.op2-header .avatar-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0.4rem;
  width: 4rem;
  height: 4rem;
}
.op2-chatMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0.4rem 0;
}
.op2-chatMessage-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  padding-bottom: 0.2rem;
}
.op2-chatMessage-time {
  color: rgba(0,0,0,0.5);
}
.op2-chatMessage-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.4rem;
}
.op2-chatMessage-text {
  margin-top: 0.4rem;
}
.op2-chatMessage-text-excerpt {
  line-height: 1.4;
}
.op2-chatMessage .avatar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5rem;
  margin: 0.4rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.c-switch .content-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100rem;
  margin: 0 auto;
  padding: 20px 0.4rem;
}
.c-switch-user {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  margin-bottom: 14px;
}
.is-primary .c-switch-user {
  border-radius: 12px;
}
.is-primary .c-switch-user {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.c-switch-user-true {
  background-color: #000;
  color: #fff;
}
.c-switch-user-inactive {
  pointer-events: none;
  box-shadow: none;
  background: rgba(0,0,0,0.2);
  opacity: 0.75;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.c-switch-user-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.c-switch-user-name {
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.c-switch-user-role {
  margin: 0 10px 0 0.4rem;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0.4rem;
  border-radius: 2px;
}
.is-primary .c-switch-user-role {
  border-radius: 12px;
}
.c-switch-user-role-student {
  background-color: #f5a623;
}
.c-switch-user-role-teacher {
  background-color: #800080;
}
.c-switch-user-notInClass {
  background-color: rgba(0,0,0,0.8);
  padding: 0.4rem;
  margin: -0.4rem -0.4rem -0.4rem 0;
  display: inline-block;
}
.c-switch-user .avatar-container {
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.view-container {
  display: block;
}
.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.unreadCounter {
  background-color: #d12028;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  min-width: 2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  height: 2rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
}
.avatar-container {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: block;
  overflow: hidden;
}
.avatar-img {
  display: block;
  max-width: 100%;
}
